@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:14px;
    background-color: #323131 !important;
    color: #ffffff;
}
body.admin{
    background-image:none;
}
.logo{
    height:60px;
}
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
}
.question-box{
    padding: 10px 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius:24px;
}
#question-form{
    margin:0 auto;
}
#question-form .btn-submit{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 16px;
    background-color: transparent;
    padding: 0 8px;
    font-size: 1em;
}
#message{
    padding:10px;
    margin:10px 0;
}
.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
    color:#ccc;
}
.links{
    background-color:#ccc;
    padding:10px;
}
.links a{
    color:#cc0000;
    text-decoration:none;
}
#ques_count{
    display:inline-block;
}
.input-group{
    margin-bottom:5px;
}
h3{
    font-size: 1.5em;
    color: #f8f9fa;
}
.content{
    position:relative;
    height:80vh;
}
#login-form{
    width:100%;
}
.form-control{
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.25em;
    border: none;
    width: 100%;
}
::placeholder{
    text-transform:uppercase;
}
#login-form h6 a{
    color: #fff;
    text-decoration:underline;
}
#login-message{
    margin:5px 0;
}